*,
html {
  font-size: 10px;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.back-button {
  border: 3px solid red;
  height: 3rem;
  display: flex;
}

.header-container {
  height: 5rem;
  border: 3px solid black;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  display: flex;
}

.socLogo {
  border: 3px solid blue;
  height: 3rem;
  display: flex;
  padding-left: 4rem;
}

.list-of-topics {
  text-decoration: none;
}
