*,
html {
  font-size: 10px;
  background-color: #ccdbdc;
  margin-left: 0;
}

/* home header ##################################################################### */

.home--heading {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  line-height: 0;
  align-items: center;
}

.home--heading-backbutton-icon {
  /* border: 3px solid red; */
  height: 3rem;
  display: flex;
  padding: 5px;
}

.home--heading-header-container {
  /* border: 3px solid black; */
  font-size: 2.5rem;
  font-weight: bold;
  padding: 20px;
  padding-left: 8rem;
  padding-right: 8rem;
}

.home--heading-socLogo {
  /* border: 3px solid blue; */
  height: 3rem;
  display: flex;
  padding: 5px;
  margin-left: 20px;
}

/* home nav ########################################################################## */

.home--nav {
  border: 1.8px solid black;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  padding: 4px;
  margin-left: 5px;
}

.home--nav-topics-list {
  /* border: 2px solid rgb(255, 174, 0); */
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  color: #263d42;
  font-weight: bold;
  font-size: large;
}

/* LOGOS */

.home--be-logo {
  display: flex;
  height: 5rem;
  width: 5rem;
  margin-left: 5px;
}

.home--js-logo {
  display: flex;
  height: 4rem;
  width: 4rem;
  padding-top: 4px;
  padding-left: 8px;
  align-self: center;
}

.home--html-logo {
  display: flex;
  height: 5rem;
  width: 5rem;
}

.home--testing-logo {
  display: flex;
  height: 5rem;
  width: 5rem;
}

.home--databases-logo {
  display: flex;
  height: 5rem;
  width: 5rem;
}

.home--cgpt-logo {
  display: flex;
  height: 5rem;
  width: 5rem;
  margin-top: 5px;
}

/* home main ####################################################################### */

.home--main {
  /* border: 3px solid brown; */
}

.home--resource-links {
  margin-top: 2rem;
}

.home--jslogo {
  height: 3rem;
  width: 3rem;
  /* padding-left: 5px; */
}

.home--link-one {
  /* border: 3px solid blue; */
  border-radius: 5px;
  font-weight: normal;
  background-color: #88a0a8;
  margin-bottom: 10px;
  font-size: 20px;
  margin-left: 5px;
}

.home--link-two {
  /* border: 3px solid blue; */
  border-radius: 5px;
  font-weight: normal;
  background-color: #88a0a8;
  margin-bottom: 10px;
  font-size: 20px;
  margin-left: 5px;
}

.home--link-three {
  /* border: 3px solid blue; */
  border-radius: 5px;
  font-weight: normal;
  background-color: #88a0a8;
  margin-bottom: 10px;
  font-size: 20px;
  margin-left: 5px;
}

.main--sql-pic {
  border-radius: 5px;
  display: flex;
  height: 245px;
  width: 100%;
  margin: 5px;
}

.home--addbtn {
  border-radius: 5px;
  font-weight: normal;
  background-color: #88a0a8;
  margin-bottom: 10px;
  font-size: 20px;
  width: 35%;
  margin-top: 20rem;
  margin-left: 1rem;
}
<div>
  <p>This is a <a href=“https://www.example.com”>link to Example</a>.</p>
</div>







/* home footer ##################################################################### */

.home--footer {
  padding: 0;
}

.home--footer-contents {
  background-color: #88a0a8;
  display: flex;
  position: absolute;
  bottom: 0;
}

.home--coach-contact {
  background-color: #88a0a8;
}

.home--copyright {
  background-color: #88a0a8;
  grid-area: p3;
  text-align: right;
  /* border: 1px solid; */
  display: flex;
  margin-left: 15rem;
}
