/* root  */
*,
html {
  font-size: 10px;
}


/* home header ############################################################# */

.home--heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home--heading-backbutton {
  border: 3px solid red;
  height: 3rem;
  display: flex;
}

.home--heading-header-container {
  height: 5rem;
  border: 3px solid black;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  display: flex;
}

.home--heading-socLogo {
  border: 3px solid blue;
  height: 3rem;
  display: flex;
  padding-left: 6.5rem;
}

.home--header-topics {
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid green;
  display: flex;
}


/* home nav ############################################################# */

.home--nav {
  
}

.home--nav-topics-list {
  border: 2px solid rgb(255, 174, 0);
  list-style: none;
}


/* home main ############################################################# */

.home--main {
  border: 3px solid brown;
}


/* home footer ############################################################# */

